#btnCompareNinjas {
	-fx-background-color: #392a1a; 
}

#btnNinjaDatabase  {
	-fx-background-color: #392a1a; 
}

#btnTeamBuilder {
	-fx-background-color: #392a1a; 
}

#btnKaguyaSimulator {
	-fx-background-color: #392a1a; 
}
#btnFight {
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	
}

#btnLoadKS {
	-fx-background-color: #6e4730;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
}

#btnSaveKS {
	-fx-background-color: #6e4730;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
}

#btnCalcGenin1 {
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	-fx-font-size: 13px;
}

#btnCalcGenin2 {
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	-fx-font-size: 13px;
}

#btnCalcGenin3 {
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	-fx-font-size: 13px;
}

#btnCalcJounin1{
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	-fx-font-size: 13px;
}

#btnCalcJounin2 {
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	-fx-font-size: 13px;
}

#btnCalcKage {
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	-fx-font-size: 13px;
}

#btnSave {
	-fx-background-color: #6e4730;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
}

#btnLoad {
	-fx-background-color: #6e4730;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	
}

#btnSS {
	-fx-background-color: #6e4730;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
}

#btnCalcCN1 {
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	-fx-font-size: 13px;
}

#btnCalcCN2 {
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	-fx-font-size: 13px;
}

#btnCalcCN3 {
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	-fx-font-size: 13px;
}

#btnCalcCN4 {
	-fx-background-color: #428619;
	-fx-border-color: #140b05;
	-fx-border-radius: 4px;
	-fx-font-style: italic ;
	-fx-font-family: 'Open Sans', sans-serif;
	-fx-font-size: 13px;
}


